* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

/* HEADER */

header {
    /* background-color: blueviolet; */
    height: 60px;
    font-size: 14px;
}
.container-head {
    display: flex;
    justify-content: space-between;
    
}

.head-item {
    display: flex;
    padding: 10px;
    width: 30%;
    height: 60px;
    align-items: center;
}
.head-item2 {
    /* margin-right: -135px; */
    display: flex;
    justify-content: flex-end;
}
.item {
    padding-right: 30px;
}
#inizia {
    background-color: #0061ff;
    color: white;
    height: 28px;
    padding: 5px 8px;
    text-align: center;
}
/* MAIN */


    /* PRIMA SEZIONE */

.section-1 {
    background-color: #b4d0e7;
    width: 100vw;
    height: 750px;
    margin-bottom: 60px;
}
h1 {
    /* text-align: center; */
    margin: 0 auto;
    width: 70%;
    font-size: 75px;
    padding-top: 40px;
}
.container-1 {
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
    width: 70%;
    height: 300px;
    padding-top: 30px;

    /* background-color: brown; */
}
.text-1 {
    width: 25%;
    height: 300px;
    /* background-color: blue; */
}
#tex-sec1 {
    font-size: 15px;
    text-align: initial;
}
.img-1 {
    width: 75%;
    /* background-color: aquamarine; */
    /* height: 250px; */
}
#container-h-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.tag-inizia {
    background-color: #0061ff;
    width: 195px;
    height: 35px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 8px;
    margin: 30px 0;
}
.extra-padding {
    padding: 9px 50px;
}
.div-jumbo1 {
    /* background-color: blue; */
    width: 195px;
    height: 35px;
    font-size: 14px;
}
.div-jumbo2 {
    width: 195px;
    height: 35px;
    text-align: initial;
    margin-top: 140px;
}

    /* SECONDA SEZIONE */

h2 {
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 30px;
}
.checkbox {

}
#jumbo {
   width: 100%;
   margin-left: -25px;
}
.section-2 {
    width: 60%;
    margin: 0 auto;
}
.check-abbonamento {
    width: 25%;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 40px;
    /* background-color: aqua; */
}
.container-2 {
    display: flex;
    justify-content: space-between;

}
.abbonamenti {
    width: 30%;
    height: 800px;
    /* background-color: aquamarine; */
    border: 1.5px solid #d0d0d3;
}
.piano-abbonamento {
    border-bottom: 1.5px solid #d0d0d3;
    text-align: center;
    padding: 8px 0;
}
.text-livello {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 8px;
}
.stacco-icon {
    display: flex;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    
}
.text-mese {
    color: #8f8d8d;
}
.allineamento {
    padding-left: 25px;
    padding-right: 6px;
}
.stacco-down {
    margin-bottom: 40px;
}
.stacco-up {
    margin-top: 40px;
}
.stacco-up-ent {
    margin-top: 20px;
}
.acquista-ora {
    color: blue;
}
.riga-grigia {
    border-bottom: 1.5px solid #d0d0d3;
    width: 60px;
    margin-left: 25px;
    margin-bottom: 40px;
}
.stacco-pre-li {
    margin-bottom: 20px;
}
.fa-check {
    color: #0061ff;
}
.stacco-colonne-down {
    width: 10px;
    height: 10px;
    margin-bottom: 40px;
}
.enterprise-container {
    width: 100%;
    height: 250px;
    border: 1.5px solid #d0d0d3;;
    margin-bottom: 100px;
    /* background-color: blue; */
}
.team {
   
    border-bottom: 1.5px solid #d0d0d3;;
    text-align: center;
    padding: 8px 0;
}
.enterprise {
    display: flex;
    width: 100%;
    height: 200px;
    
}
.stacco-up-enterprise {
    margin-top: 30px;
}
.team-left {
    width: 60%;
    
}
.team-right {
    width: 40%;
    
}
.enterprise-text {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}
.contact-position {
    margin-top: 10px;
    margin-left: 220px;
    padding-left: 17px;
}
.margin-enterprise {
    margin-top: 10px;
    margin-bottom: 35px;
}


    /* TERZA SEZIONE */

.section-3 {
    width: 60%;
    height: 700px;
    margin: 0 auto;
    /* background-color: brown; */
}
.container-3 {
    display: flex;
    justify-content: space-between;
}
#partner {
    width: 650px;
}
.img-3 {
    width: 55%;
    height: 200px;
    /* background-color: lawngreen; */
}
.text-3{
    width:34%;
    height: 400px;
    margin-top: 75px;
    /* background-color: grey; */
}
.partner-tag {
    width: 50px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    color: black;
    border: 1.5px solid black;
    padding: 8px 10px;
}
.spazio-partner {
    margin-bottom: 35px;
}
.size-part-text {
    width: 73%;
}
.extrapadding-partner {
    padding-bottom: 15px;
}


    /* QUARTA SEZIONE */

.section-4 {
    width: 60%;
    margin: 0 auto;
    /* background-color: darkgoldenrod; */
}
.container-4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
    /* background-color: aquamarine; */
}
.function {
    width: 30%;
    height: 500px;
    /* background-color: blueviolet; */
    /* border: 1px solid black; */
    margin-bottom: 25px;
}
.text-4 {
    width:60%;
    height: 200px;
    background-color: grey;
}
h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
}
.img-section4 {
    width: 345px;
}


    /* QUINTA SEZIONE */

.section-5 {
    width: 100%;
}
.container-5 {
    display: flex;
    height: 450px;
    /* width: calc(100%/ 3); */
}
.container-5a {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.container-5b {
    width: 100%;
    display: flex;
}

.aziende {
    width: 50%;
    border: 1px solid black;
    background-color: chocolate;

}
.azienda-main {
    background-color: blue;
    width: 100%;
    height: 100%;

}


    /* SESTA SEZIONE */

.section-6 {
    width: 100%;
    background-color:burlywood;
    height: 200px;
}
.container-6 {
    display: flex;
    width: 60%;
    margin: 0 auto;
    background-color: rgb(247, 97, 42);
}
.text-6 {
    width: 50%;
    height: 100px;
    background-color: darkolivegreen;
    border: 1px solid black;
}
.provagratuita {
    width: 50%;
    height: 100px;
    background-color: darkolivegreen;
    border: 1px solid black;
}


    /* SETTIMA SEZIONE */

.section-7 {
    width: 60%;
    margin: 0 auto;
}
.container-7 {
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.text-7 {
    width: 90%;
    height: 80px;
    background-color: blue;
    border: 1px solid black;
}
.simbolino {
    width: 10%;
    height: 80px;
    background-color: red;
    border: 1px solid black;
}

/* FOOTER */

.section-8 {
    background-color: black;
}
.container-footer {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    display: flex;
}
.colonne-foot {
    width: calc(100% / 5);
    height: 400px;
    background-color: brown;
    border: 1px solid white;
}